@import "../general/import";

body,
html {

  background-color: $dark-blue;

}

.authentication-container {

  padding: 20px;
  border-radius: $border-radius-normal;
  background-color: $white;

  form {

    margin-top: -15px;

  }

}

.authentication-logo {

  display: block;
  margin: 75px auto;
  max-width: 300px;

}

.message-box {

  margin: 25px 0 0 0;
  border-radius: 4px;
  color: #fff;
  background-color: #2ecc71;
  padding: 10px;
  font-size: 14px;

}