{% extends 'base.html.twig' %}

{% block title %}
    Register | FlowBoard
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}

    <form action="{{ path("register") }}" method="post">



    </form>

{% endblock %}