{% extends 'base.html.twig' %}

{% block title %}
    Dashboard | Flowboard
{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('css/pages/dashboard.css') }}" />

{% endblock %}

{% block body %}

    <div class="bootstrap-wrapper">

        <div id="app">
            Application is loading...
        </div>

    </div>

    <script src="{{ asset('dist/main.bundle.js') }}" type="text/javascript"></script>

{% endblock %}