@import "fonts";
@import "colors";
@import "variables";

body,
html {

  font-weight: 400;
  font-family: 'Roboto', sans-serif;

}

h1 {

  font-size: 36px;

}

h2 {

  font-size: 32px;

}

h3 {

  font-size: 28px;

}

h4 {

  font-size: 24px;

}

p {

  font-size: 16px;

}

button {

  border: 0;
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  margin-bottom: 5px;
  background-color: #036EE9;

}

.delete-button {

  background-color: #e74c3c;

}


.field-show {

  padding: 10px 0;

}

.field-title {

  p {
    color: #2c2c2c;
    font-size: 14px;
    font-weight: 500;
  }

}

.field-show .field-value {

  img {

    width: 20px;
    margin: 7px;

  }

  outline: 0;
  width: 100%;
  border: 0;
  font-weight: 400;
  background-color: #f5f9fb;
  padding: 5px;
  border-bottom: 2px solid #036EE9;
  font-size: 18px;
  display: flex;
  align-items: center;

}

.field-set {

  padding: 10px 0;

}

.field-set .field-value input {

  outline: 0;
  width: 100%;
  border: 0;
  font-weight: 500;
  background-color: #f5f9fb;
  padding: 5px;
  border-bottom: 2px solid #036EE9;
  font-size: 18px;

}

.field-set .field-value textarea {

  font-size: 14px;
  outline: 0;
  font-weight: 500;
  background-color: #f5f9fb;
  border: 0;
  width: 100%;
  height: 75px;
  padding: 10px;
  resize: none;

}

.error-box {

  margin: 25px 0 0 0;
  border-radius: 4px;
  color: #fff;
  background-color: #e74c3c;
  padding: 10px;
  font-size: 14px;

}

.modal-body .loading {

  display: flex;
  width: 100%;
  height: 250px;

  .loading-text {

    margin: auto;

  }

}